* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
}

body {
    max-height: 100vh;
}
#main {
    max-height: 100vh;
}

:root {
    --task-bar-height: 34px;
    --start-button-width: 106px;
}